{% extends 'chess/base.html' %}

{% block content %}
<div id="container">
    {{ game.player_one.name }}
    <table class="chess-board table-hover">
        <tbody>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
            </tr>
                <tr>
                    <th>8</th>
                        <td class="light"><span id="A8"></span></td>
                        <td class="dark"><span id="B8"></span></td>
                        <td class="light"><span id="C8"></span></td>
                        <td class="dark"><span id="D8"></span></td>
                        <td class="light"><span id="E8"></span></td>
                        <td class="dark"><span id="F8"></span></td>
                        <td class="light"><span id="G8"></span></td>
                        <td class="dark"><span id="H8"></span></td>
                </tr>
                <tr>
                    <th>7</th>
                        <td class="dark"><span id="A7"></span></td>
                        <td class="light"><span id="B7"></span></td>
                        <td class="dark"><span id="C7"></span></td>
                        <td class="light"><span id="D7"></span></td>
                        <td class="dark"><span id="E7"></span></td>
                        <td class="light"><span id="F7"></span></td>
                        <td class="dark"><span id="G7"></span></td>
                        <td class="light"><span id="H7"></span></td>
                </tr>
                <tr>
                    <th>6</th>
                        <td class="light"><span id="A6"></span></td>
                        <td class="dark"><span id="B6"></span></td>
                        <td class="light"><span id="C6"></span></td>
                        <td class="dark"><span id="D6"></span></td>
                        <td class="light"><span id="E6"></span></td>
                        <td class="dark"><span id="F6"></span></td>
                        <td class="light"><span id="G6"></span></td>
                        <td class="dark"><span id="H6"></span></td>
                </tr>
                <tr>
                    <th>5</th>
                        <td class="dark"><span id="A5"></span></td>
                        <td class="light"><span id="B5"></span></td>
                        <td class="dark"><span id="C5"></span></td>
                        <td class="light"><span id="D5"></span></td>
                        <td class="dark"><span id="E5"></span></td>
                        <td class="light"><span id="F5"></span></td>
                        <td class="dark"><span id="G5"></span></td>
                        <td class="light"><span id="H5"></span></td>
                </tr>
                <tr>
                    <th>4</th>
                        <td class="light"><span id="A4"></span></td>
                        <td class="dark"><span id="B4"></span></td>
                        <td class="light"><span id="C4"></span></td>
                        <td class="dark"><span id="D4"></span></td>
                        <td class="light"><span id="E4"></span></td>
                        <td class="dark"><span id="F4"></span></td>
                        <td class="light"><span id="G4"></span></td>
                        <td class="dark"><span id="H4"></span></td>
                </tr>
                <tr>
                    <th>3</th>
                        <td class="dark"><span id="A3"></span></td>
                        <td class="light"><span id="B3"></span></td>
                        <td class="dark"><span id="C3"></span></td>
                        <td class="light"><span id=D3"></span></td>
                        <td class="dark"><span id="E3"></span></td>
                        <td class="light"><span id="F3"></span></td>
                        <td class="dark"><span id="G3"></span></td>
                        <td class="light"><span id="H3"></span></td>
                </tr>
                <tr>
                    <th>2</th>
                        <td class="light"><span id="A2"></span></td>
                        <td class="dark"><span id="B2"></span></td>
                        <td class="light"><span id="C2"></span></td>
                        <td class="dark"><span id="D2"></span></td>
                        <td class="light"><span id="E2"></span></td>
                        <td class="dark"><span id="F2"></span></td>
                        <td class="light"><span id="G2"></span></td>
                        <td class="dark"><span id="H2"></span></td>
                </tr>
                <tr>
                    <th>1</th>
                        <td class="dark"><span id="A1"></span></td>
                        <td class="light"><span id="B1"></span></td>
                        <td class="dark"><span id="C1"></span></td>
                        <td class="light"><span id="D1"></span></td>
                        <td class="dark"><span id="E1"></span></td>
                        <td class="light"><span id="F1"></span></td>
                        <td class="dark"><span id="G1"></span></td>
                        <td class="light"><span id="H1"></span></td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}