<!DOCTYPE html>
<html>
<head>
	<title>Chess</title>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chess/style.css' %}">
</head>
<body>
    <h1>CHESS</h1>
    <div id="container">
        <table class="chess-board">
            <tbody>
                <tr>
                    <th></th>
                    {% for header in x_header %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for header in y_header %}
                <tr>
                    <th>{{ header }}</th>
                    {% if header|divisibleby:2 == 0 %}
                        {% for length in y_header %}
                            {% if length|divisibleby:2 == 0 %}
                                <td class="light"></td>
                            {% else %}
                                <td class="dark"></td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    {% for length in y_header %}
                        {% if length|divisibleby:2 == 0 %}
                            <td class="dark"></td>
                        {% else %}
                            <td class="light"></td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
	</div>
</body>
</html>