body {
    background-color: #25282C;
}

.chess-board { border-spacing: 0; border-collapse: collapse; }
.chess-board th { padding: .5em; color: white}
.chess-board td { border: 2.5px solid; width: 3em; height: 3em; }
.chess-board .light { background: #eeeed2 }
.chess-board .dark { background:#769656}

h1 {
    color: white;
}

#container {
    margin: 0 auto;
    max-width: 400px;
} 
.player-one-pieces {
    color: rgb(239, 245, 248);
    text-shadow: 1px 2px #494949;
    margin : 0 auto;
    width: 3em;
    height: 3em;
    text-align: center;

}

.player-two-pieces {
    color: #393432;
    text-shadow: 1px 2px #d8d0ce;
    margin : 0 auto;
    width: 3em;
    height: 3em;
    text-align: center;
}

td, th {
    text-align: center;
    font-size: 18px;
}

tbody > tr > th > th{
    border: 2px solid;
    border-color: black;
}

.table-hover > tbody > tr > tr:hover, th:hover {
    background-color: #D2D2D2;
}

  .table-hover > tbody > tr > td:hover {
    border: 3px solid;
    border-color: #52A96F;
    background-color:  #52E683;
  }